<!--<h3>Multiple Choice</h3>-->
<div class="container px-1">
  <div class="row">
    <h4 class="col-auto">{{question.question}}</h4>
    <span [hidden]="grading === false">
      <i [hidden]="answer !== question.correct" class="fa fa-check fa-2x float-right" style="color: green"></i>
      <i [hidden]="answer === question.correct" class="fa fa-times fa-2x float-right" style="color: red"></i>
    </span>
  </div>
  <ul class="list-group">
    <li *ngFor="let choice of question.choices" class="list-group-item"
        [class]="{'active': answer === choice && !grading,
                  'bg-danger': grading && answer === choice && question.correct !== choice,
                  'bg-success': grading && question.correct === choice}">
      <label>
        <input [(ngModel)]="answer" value="{{choice}}" type="radio" name="{{question._id}}"/> {{choice}}
      </label>
      <span *ngIf="grading">
        <i [hidden]="choice !== question.correct" class="fa fa-check fa-2x float-right" style="color: green"></i>
        <i [hidden]="choice === question.correct || choice !== answer" class="fa fa-times fa-2x float-right" style="color: red"></i>
      </span>
    </li>
  </ul>
  <div class="row py-2 ml-2">
    Your answer is : {{answer}}
  </div>
  <div class="row py-2 ml-2">
    <span class="btn btn-success" (click)="submitAnswer()">Submit Answer</span>
  </div>
</div>
