<div class="container mt-3">
    <ul class="list-group">
      <li class="list-group-item">Course</li>
      <li class="list-group-item" *ngFor="let course of courses">
        <a routerLink="/table/courses/{{course._id}}/modules">
          <span class="float-left mr-2">
            <i class="fa fa-file"></i>
          </span>
          {{course.title}}
        </a>
        <a class="float-right" href="/courses/{{course._id}}/quizzes">
          Quizzes
        </a>
      </li>
  </ul>
</div>

