<!--<h3>True or False</h3>-->
<div class="container px-1">
  <div class="row">
    <h4 class="col-auto">{{question.question}}</h4>
    <span [hidden]="grading === false">
      <i [hidden]="answer !== question.correct" class="fa fa-check fa-2x float-right" style="color: green"></i>
      <i [hidden]="answer === question.correct" class="fa fa-times fa-2x float-right" style="color: red"></i>
    </span>
  </div>
  <ul class="list-group">
    <li class="list-group-item" [class]="{'active': answer === 'true' && !grading,
        'bg-success': grading && question.correct === 'true',
        'bg-danger': grading && question.correct !== 'true' && answer === 'true'}">
      <label>
        <input [(ngModel)]="answer" type="radio" value="true" name="{{question._id}}"/> True
      </label>
      <span [hidden]="grading === false">
        <i [hidden]="'true' !== question.correct " class="fa fa-check fa-2x float-right" style="color: green"></i>
        <i [hidden]="'true' === question.correct || 'true' === answer" class="fa fa-times fa-2x float-right" style="color: red"></i>
      </span>
    </li>
    <li class="list-group-item" [class]="{'active': answer === 'false' && !grading,
        'bg-success': grading && question.correct === 'false',
        'bg-danger': grading && question.correct !== 'false' && answer === 'false'}">
      <label>
        <input [(ngModel)]="answer" type="radio" value="false" name="{{question._id}}"/> False
      </label>
      <span [hidden]="grading === false">
        <i [hidden]="'false' !== question.correct" class="fa fa-check fa-2x float-right" style="color: green"></i>
        <i [hidden]="'false' === question.correct || 'false' !== answer" class="fa fa-times fa-2x float-right" style="color: red"></i>
      </span>
    </li>
  </ul>
  <div class="row py-2 ml-2">
    Your answer is: {{answer}}
  </div>
  <div class="row py-2 ml-2">
    <span class="btn btn-success" (click)="grade()">Grade</span>
  </div>
</div>


